{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="Container text-center mt-4">
        <h1>Generate Script Konfigurasi<br>OLT C320 Onu PPPoE</h1>
    </div>

    <div class="container mt-5">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="sn" class="form-label">SN</label>
                        <input type="text" class="form-control" id="sn" placeholder="Masukkan SN" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="limitasi" class="form-label">Pilih Limitasi</label> <!-- Harus diganti ke database -->
                        <select class="form-select" id="limitasi" required>
                            <option selected>Pilih Limitasi</option>
                            <option value="OPEN">OPEN</option>
                            <option value="Gaming-10M">Gaming-10M</option>
                            <option value="Gaming-10M">Gaming-20M</option>
                            <option value="Gaming-10M">Gaming-50M</option>
                            <option value="Gaming-10M">Gaming-75M</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="neCode" class="form-label">ID NE</label>
                        <input type="text" class="form-control" id="neCode" placeholder="Masukan ID NE" required>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="modemType" class="form-label">Pilih Tipe Modem</label>
                        <select class="form-select" id="modemType" required>
                            <option selected>Pilih Tipe Modem</option> <!-- Harus diganti ke database -->
                            <option value="ZTE-F660">ZTE</option>
                            <option value="OPEN_HGW">CDATA</option>
                        </select>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" onclick="sendData(event)">Generate</button>
        </form>

        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div class="bg-dark text-light p-3 rounded d-flex justify-content-between align-items-center">
                        <pre id="result" class="cmd-text">X</pre>
                        <button class="btn btn-primary btn-sm" onclick="copyText()">Copy</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

<script src="{% static 'configuration/js/confC320OnuBridge.js' %}"></script>
{% endblock content %}
    