{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Troubleshoot BHome FTTH</h1>
    <form id="locationForm" class="row justify-content-center mb-4">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" name="locationId" placeholder="Enter Location ID" id="locationId" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered text-center table-sm">
            <thead>
                <tr>
                    <th colspan="4" class="table-active table-primary">Pengecekan Koneksi</th>
                </tr>
                <tr>
                    <th>Parameter</th>
                    <th>Ex Condition</th>
                    <th>Ideal Condition</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Status</td>
                    <td><span id="status">X</span></td>
                    <td>Subscribe</td>
                    <td><span class="badge" id="statusResult">x</span></td>
                </tr>
                <tr>
                    <td>Latensi PING</td>
                    <td><span id="latency">0</span> ms</td>
                    <td>&lt;10 ms</td>
                    <td><span class="badge" id="latencyResult">0</span></td>
                </tr>
                <tr>
                    <td>Traffic Upload</td>
                    <td><span id="tUpload">0</span> Mbps</td>
                    <td><span id="minUpload">0</span> Mbps - <span id="maxUpload">0</span> Mbps</td>
                    <td><span class="badge" id="tUploadResult">0</span></td>
                </tr>
                <tr>
                    <td>Traffic Download</td>
                    <td><span id="tDownload">0</span> Mbps</td>
                    <td><span id="minDownload">0</span> Mbps - <span id="maxDownload">0</span> Mbps</td>
                    <td><span class="badge" id="tDownloadResult">0</span></td>
                </tr>                
                <tr>
                    <td>Redaman</td>
                    <td><span id="redaman">0</span> dBm</td>
                    <td>> -29 dBm</td>
                    <td><span class="badge" id="redamanResult">0</span></td>
                </tr>
                <tr>
                    <td>Status ONU</td>
                    <td><span id="state">X</span></td>
                    <td>Working</td>
                    <td><span class="badge" id="stateResult">0</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <table class="table table-bordered text-center table-sm">
                <thead>
                    <tr>
                        <th class="table-active table-seconday">Real Time Traffic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <canvas id="trafficChart" style="max-width: 100%; height: 300px;"></canvas>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered text-center table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" class="table-success">Data Detail Pelanggan</th>
                        </tr>
                        <tr>
                            <th>Parameter</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                            <td>IP Pelanggan</td>
                            <td>
                                <span id="clientIp">X </span>
                                <a id="clientLink" class="badge rounded-pill bg-primary text-light" href="http://clientIp" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">Open</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Terakhir Login</td>
                            <td><span id="authpass">X</span></td>
                        </tr>
                        <tr>
                            <td>Offline</td>
                            <td><span id="offline">X</span></td>
                        </tr>
                        <tr>
                            <td>Tipe ONT</td>
                            <td><span id="type">X</span></td>
                        </tr>
                        <tr>
                            <td>Nama ONU</td>
                            <td><span id="name">X</span></td>
                        </tr>
                        <tr>
                            <td>SN</td>
                            <td><span id="serialNumber">X</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
<script src="{% static 'vendor/bootstrap/jquery.js' %}"></script>
<script src="{% static 'js/troubleshootBhomeFtth.js' %}"></script>
{% endblock content %}
