<a class="list-group-item list-group-item-action list-group-item-light p-3
{% if 'configuration' in request.path %}active{% endif %}""
data-bs-toggle="collapse"
href="#collapseConfiguration"
role="button"
aria-expanded="false"
aria-controls="collapseConfiguration">
    Configuration <i class="bi bi-gear"></i>
</a>
<div class="collapse {% if 'configuration' in request.path %}show{% endif %}" id="collapseConfiguration">
    <div class="list-group">

        <div class="list-group">
            <a class="list-group-item list-group-item-light p-3 
                {% if 'generateScript' in request.path  %}active
                {% endif %}" 
                data-bs-toggle="collapse" 
                href="#collapseGenerateScipt" 
                role="button" 
                aria-expanded="{% if 'generateScript' in request.path %}true{% else %}false{% endif %}" 
                aria-controls="collapseGenerateScipt">
                <i class="bi bi-dot"></i>  generateScript
            </a>
            <div class="collapse {% if 'generateScript' in request.path %}show{% endif %}" id="collapseGenerateScipt">
                <div class="list-group">
                    <a class="list-group-item list-group-item-light p-3 
                        {% if 'confC320OnuBridge' in request.path %}active{% endif %}" 
                        href="{% url 'configuration:generateScript' 'confC320OnuBridge' %}">
                        <i class="bi bi-dot"></i> <i class="bi bi-dot"></i> confC320OnuBridge
                    </a>      
                    <a class="list-group-item list-group-item-light p-3
                        {% if 'confC320OnuPppoe' in request.path %}active{% endif %}"
                        href="{% url 'configuration:generateScript' 'confC320OnuPppoe' %}">
                        <i class="bi bi-dot"></i> <i class="bi bi-dot"></i> confC320OnuPppoe
                    </a>
                    <a class="list-group-item list-group-item-light p-3
                        {% if 'confC320OnuStatic' in request.path %}active{% endif %}"
                        href="{% url 'configuration:generateScript' 'confC320OnuStatic' %}">
                        <i class="bi bi-dot"></i> <i class="bi bi-dot"></i> confC320OnuStatic
                    </a>
                </div>
            </div>
        </div>

        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 2</a>
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 3</a>
    </div>
</div>