<a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" href="#collapseConfiguration" role="button" aria-expanded="false" aria-controls="collapseConfiguration">
    Configuration
</a>
<div class="collapse" id="collapseConfiguration">
    <div class="list-group">
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 1</a>
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 2</a>
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 3</a>
    </div>
</div>