<a class="list-group-item list-group-item-action list-group-item-light p-3" 
data-bs-toggle="collapse" 
href="#collapseDatabases" 
role="button" 
aria-expanded="{% if 'databases' in request.path %}true{% else %}false{% endif %}" 
aria-controls="collapseDatabases">
    Databases
</a>
<div class="collapse {% if 'databases' in request.path %}show{% endif %}" id="collapseDatabases">
    <div class="list-group">
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 1</a>
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 2</a>
        <a class="list-group-item list-group-item-light p-3" href="#!">Submenu 3</a>
    </div>
</div>