{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <button class="btn btn-light me-3" id="sidebarToggle"><i class="bi bi-backspace-fill" id="toggleIcon"></i></button>
        <img src="{% static 'img/bnet.png' %}" id="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>

                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#!"><i class="bi bi-person-circle"></i></a></li>
            </ul>
        </div>
    </div>
</nav>