{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>BTOOLS</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">BTOOLS V4</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 {% block dashboard %}{% endblock %}" href="/">Dashboard <i class="bi bi-speedometer"></i></a>
                
                <!-- Configuration Dropdown -->
                {% include "snippets/configurationDropdown.html" %}

                <!-- Troubleshoot Dropdown -->
                {% include "snippets/troubleshootDropdown.html" %}

                <!-- Maintenance Dropdown -->
                {% include "snippets/maintenanceDropdown.html" %}

                <!-- Monitoring Dropdown -->
                {% include "snippets/monitoringDropdown.html" %}


                <!-- Databases Dropdown -->
                {% include "snippets/databasesDropdown.html" %}

            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">

            <!-- Top navigation-->
            {% include "snippets/topNav.html" %}

            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
</body>
</html>